<!DOCTYPE HTML>
<html>
<head>

    <!--Dimension by HTML5 UP
    html5up.net |
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)-->
    
    <title>Justin A. Vignone Personal Site</title>
    <meta charset="utf-8" />
    <meta name="Justin Vignone's Personal Site" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta tag="Justin Vignone, Full Stack Developer, HTML, CSS, C#, JavaScript, JS,JQuery, MVC, .NET" />
    @*<link rel="stylesheet" href="~/Content/css/main.css" />
        <noscript><link rel="stylesheet" href="~Content/css/noscript.css" /></noscript>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/fontawesome-all.min.css" rel="stylesheet" />
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">


        @RenderBody()

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; @DateTime.Now.Year Justin Vignone</p>
        </footer>

    </div>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    @*<script src="~/Scripts/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/templateScripts")

    @RenderSection("scripts", false)

</body>
</html>